.div1{
    width: 470px;
    height: 550px;
    border-radius: 20px;
}


#quest2{
    margin-top: 20px;
    width: 400px;
    height: 300px;
  
   
}
.btn1{
    width: 110px;
    font-size: 20px; 
}
.btn2{
    width: 200px;
    height: 50px;
    font-size: 20px;
}
