.layered-card {
    background-color:red;
    position: relative;
}

.layered-card::before {
    background: red;
    content: '';
    
    /* Position */
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(1rem, 1rem);

    /* Size */
    height: 100%;
    width: 100%;

    /* Display under the main content */
    z-index: -1;
}
$(this).closest('tr').find("td").val(7688)
